*{
    font-family: "Bodoni Moda SC", serif;
}

img{
    width: 100%;
    height: auto;
}

:root{
    /* 色設定 */
    --color-01:#F8FAFC;
    --color-02:#D9EAFD;
    --color-03:#BCCCDC;
    --color-04:#9AA6B2;

    /* スペース設定 */
    --space-S:1rem;
    --space-M:1.5rem;
    --space-L:2rem;

    /* シャドー設定 */
    --shadow-01: 0 4px 1px rgba(0, 0, 0, 0.1);
    --shadow-02: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ローディング画面
============================= */
.loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.loadingScreen__01 {
    background: var(--color-01);
    z-index: 102;
}

.loadingScreen__02 {
    background: var(--color-02);
    z-index: 101;
}

.loadingScreen__03 {
    background: var(--color-03);
    z-index: 100;
}

/* ナビゲーション
============================= */
.nav-wrapper {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%,50%);
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90vw;
    height: auto;
    padding: var(--space-S) var(--space-L);

    border-radius: 999px;
    background: rgb(from var(--color-02) r g b / 0.5);
    box-shadow: var(--shadow-02);
    backdrop-filter: blur(16px);
}

.gnav__icon {
    width: 30%;
    max-width: 120px;
    height: auto;
}

.gnav__list {
    display: flex;
    gap: var(--space-L);
    justify-content: center;

    width: 100%;
    height: 100%;

    font-size: var(--space-M);
}

.gnav__item {
    width: auto;
}

/* メインビジュアル
============================= */

.mainvisual{
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
}

.mainvisual__header{
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: var(--space-L);
    font-family: "Bodoni Moda SC", serif;
    text-align: center;
    font-size: clamp(16px, 10vw, 30rem);
    line-height: 1;
    pointer-events: none;
}


/* Swiperの設定
============================= */

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    font-size: 1.5rem;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    height: auto;
}

/* コンテンツの設定
============================= */

.bg{
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: auto;
}

.bg__01 path{
    fill: var(--color-04);
}

.bg__02 path{
    fill: var(--color05);
}

.bg__03 path{
    fill: var(--color06);
}

.floatImages{
    width: 100%;
    height: auto;
    position: relative;
}

.image_description{
    position: relative;
    height: 100vh;
    z-index: 3;
}

.description__01{
    background: var(--color-04);
}

.description__02{
    background: var(--color05);
}

.description__03{
    background: var(--color06);
}

.floatImage{
    position: absolute;
    width: 30%;
    height: auto;
    z-index: 10;
}

.floatImage__01{
    left: 30%;
}

.floatImage__02{
    left: 10%;
}

.floatImage__03{
    left: 50%;
}

/* 縦型スライダー */
.slide-section {
    height: 100vh;
    position: relative;
}

.slide-container {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slide {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: absolute;
    top: 0;
    left: 0;
}

.model-viewer{
    height: 100vh;
    background: #000;
}

.slide img{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    z-index: 1;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    font-size: 2rem;
}

.slide-section {
    height: 100vh;
    overflow: hidden;
    background: white;
    position: relative;
}

.slide {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
    width: 100%;
    transform: translateY(100%);
    
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0, 0, 0, var(--darkness));  /* 背景色を変数で制御 */
        backdrop-filter: blur(calc(var(--blur) * 1px));  /* px単位を追加 */
        pointer-events: none;  /* クリックイベントを透過 */
    }
}
.slide:first-child {
    transform: translateY(0);
}